.dashboard-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  h3 {
    margin-top: 10px;

  }
  
  .upload-section, .visualization-controls, .visualization-display {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .control-group {
    margin-bottom: 15px;
  }
  
  .control-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .control-group select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
  
  .location-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .location-checkbox {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .plot-container {
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  min-height: 600px;
  overflow: visible;  /* Allow plot elements to overflow if needed */
  }
  .reset-button {
  margin-top: 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #c82333;
  }

  .list-div {
    text-align: center;
    background-color: #6150BD;
    padding: 10px;
    width: 600px;
    border-radius: 10px;
    color: white;
  }
  
  .list-div:hover{
    cursor: pointer
  }