body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bolder;
  font-size: 30px;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-color: white;
  padding: 20px;
  gap: 10px;
}

.list-div {
  text-align: center;
  background-color: #6150BD;
  padding: 25px;
  width: 600px;
  border-radius: 10px;
}

#fileInput { display: none; }

.section { padding: 20px; border-top: 2px solid #ccc; display: none }

h2 { text-align: center; }
